.app {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header     header"
        "menu       contents";
}

.app-header {grid-area: header; text-align: center };
.app-menu {grid-area: menu};
.app-contents {grid-area: contents};

.song-grid {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 40px 100px auto;
    grid-template-areas: 
        "song-header    song-header"
        "song-player    song-comments"
        "song-editor    song-comments";
}

.song-header { grid-area: song-header; }

.song-player {    grid-area: song-player;}

.song-editor {    grid-area: song-editor;}

.song-comments {    grid-area: song-comments;}

.bold { font-weight: bold; }